<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zk.dao.CustomerMapper">
    <sql id="customer_where">
        <where>
            <if test="custName != null and custName != ''">
                and c.`cust_name` LIKE '%${custName}%'
            </if>
            <if test="custSource != null and custSource != ''">
                AND c.`cust_source` = #{custSource}
            </if>
            <if test="custIndustry != null and custIndustry != ''">
                AND c.`cust_industry` = #{custIndustry}
            </if>
            <if test="custLevel != null and custLevel != ''">
                AND c.`cust_level` = #{custLevel}
            </if>
        </where>
    </sql>
    <select id="getCustomerByQueryVo" resultType="customer" parameterType="queryvo">
        SELECT
        c.`cust_id`,
        c.`cust_name`,
        c.`cust_user_id`,
        c.`cust_create_id`,
        s.`dict_item_name` `cust_source`,
        i.`dict_item_name` `cust_industry`,
        l.`dict_item_name` `cust_level`,
        c.`cust_linkman`,
        c.`cust_phone`,
        c.`cust_mobile`,
        c.`cust_zipcode`,
        c.`cust_address`,
        c.`cust_createtime`
        FROM `customer` c
        LEFT JOIN base_dict s ON c.`cust_source`= s.`dict_id`
        LEFT JOIN base_dict i ON c.`cust_industry` = i.`dict_id`
        LEFT JOIN base_dict l ON c.`cust_level` = l.`dict_id`
        <include refid="customer_where" />
        LIMIT #{start}, #{rows};
    </select>
    <select id="getCountByVo" parameterType="queryvo" resultType="int" >
        SELECT count(1)
        FROM `customer` c
        LEFT JOIN base_dict s ON c.`cust_source`= s.`dict_id`
        LEFT JOIN base_dict i ON c.`cust_industry` = i.`dict_id`
        LEFT JOIN base_dict l ON c.`cust_level` = l.`dict_id`
        <include refid="customer_where" />
    </select>

    <select id="selectById" parameterType="int" resultType="customer">
		SELECT
			  `cust_id`,
			  `cust_name`,
			  `cust_user_id`,
			  `cust_create_id`,
			  `cust_source`,
			  `cust_industry`,
			  `cust_level`,
			  `cust_linkman`,
			  `cust_phone`,
			  `cust_mobile`,
			  `cust_zipcode`,
			  `cust_address`,
			  `cust_createtime`
			FROM
			  `customer`
			WHERE `cust_id` = #{id}
	</select>

    <update id="getUpdate" parameterType="customer">
        update
            customer
            set
            cust_name=#{cust_name},
            cust_source=#{cust_source},
			  cust_industry=#{cust_industry},
			  cust_level=#{cust_level},
			  cust_linkman=#{cust_linkman},
			  cust_phone=#{cust_phone},
			  cust_mobile=#{cust_mobile},
			  cust_zipcode=#{cust_zipcode},
			  cust_address=#{cust_address}
			  where
			  cust_id=#{cust_id}
    </update>

    <delete id="getdelete" parameterType="int">
        delete from customer where cust_id=#{cust_id}
    </delete>
</mapper>